h1{
  font-family: 'Palette Mosaic', cursive;
  font-size: 100%;
  text-align: center;
  margin: 30px;
}

table{
  margin:auto;
  border-collapse: separate;
  border-spacing: 10px;
}

td{
  width: 200px;
  height:400px;
}

td.one{
  background-color:#FBF8CC;
}

td.two{
  background-color:#F1C0E8;
}

td.three{
  background-color:#A3C4F3;
}

td.four{
  background-color:#98F5E1;
}

td.five{
  background-color:#EE9B00;
}
